* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
}

aside {
  width: 200px;
  background: linear-gradient(to bottom, #2c3e50, #4b79a1);
  padding: 20px;
  color: #ecf0f1;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

aside ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

aside ul li.active {
  background-color: rgba(231, 76, 60, 0.7);
}

aside ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  transition: color 0.3s ease;
}

aside ul li a:hover {
  color: #bdc3c7;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh-button {
  position: absolute; /* position the button relative to the nearest positioned ancestor */
  top: 10px; /* position the button 10px from the top of the main section */
  left: 50%; /* position the button 10px from the right of the main section */
  padding: 10px 20px; /* add some padding to the button */
  background-color: #2c3e50; /* make the button the same color as the aside section */
  color: #ecf0f1; /* make the text color the same as the aside text color */
  border: none; /* remove the default button border */
  border-radius: 5px; /* round the corners of the button */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  font-size: 1em; /* make the text size the same as the body text size */
  transition: background-color 0.3s ease; /* add a transition effect to the background color */
}

.refresh-button:hover {
  background-color: rgba(231, 76, 60, 0.7); /* change the background color when hovering over the button */
}
